<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CowCloud</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/header.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/footer.css" type="text/css" />
<style type="text/css">
    @font-face {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
    }
</style>

<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>

<body>

    {% block content %}
    {{ flatpage.content|safe }}
    {% endblock %}

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui-1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/handlebars-1.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/bootbox.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/scroll.js"></script>

</body>
</html>
