{% include "base.html" %}
<div class="container">
<h2>Frequently Asked Questions</h2>
<br><br>
Q: What is CowCloud?<br>
A: CowCloud is a new simple application where you can send, upload and share files (photos, docs, videos, etc.) up to 1GB in size for FREE! <br />You can also store, share and access your files anywhere, anytime.<br><br>

Q: Why CowCloud?<br>
A: If you are got sick of paying too much for way too many features we never used then CowCloud is your choice because it's a simple affordable solution without all the 'extras' you probably don't need.<br><br>

Q: What available plans for you?<br>
A: <br />
1. Free - $0.00 per month, 2GB max. file size, files self destruct after 30 days.<br>
2. CCProfessional - $5.00 per month, 2GB max. file size, 20GB storage, unlimited downloads, self manage files stored.<br>
3. CCBusiness - $10.00 per month, 2GB max. file size, 40GB storage, unlimited downloads, self manage files stored.<br><br>

Q: What file types are accepted?<br>
A: CowCloud supports all of formats.<br><br>

Q: Are my uploaded files private?<br>
A: Only for paying plans.<br />
Your files can be viewed privately within your account. They are private until you share or embed the video links.<br><br>

Q: How long are files stored?<br>
A: Files are stored 30 days for CCFree plans and unlimited time for Paid plans. The dormancy period may change at anytime.<br><br>

Q: How many files can I upload?<br>
A: Unlimited files. However, illegal files may be removed at our discretion at anytime.<br><br>

Q: Can I view other user's profiles or is there a database of public files?<br>
A: No. All profiles are private. There is no public database or search function on CowCloud.<br><br>

Q: How do I allow people to see or download my file?<br>
A: A URL link to the file must be shared in order to view the uploaded file.<br><br>

Q: What currency is CowCloud costs quoted in?<br>
A: All costs quoted for CowCloud services are in US dollars. We recommend you use <a href="http://www.xe.com/">www.xe.com</a> to work out currency conversions.<br><br>

Q: I sent the file(s) &amp; they did not receive it?<br>
A: Most of the time SPAM filters are the cause for not receiving the email. The best way around this is to include yourself as one of the recipients.
Another option is use the link option and just send the file to yourself, then when you receive the link, forward the link to your recipient.<br><br>

Q: I got an error before it completed the upload!<br>
A: It is hard to know exactly what caused your upload to fail. Generally it means your computer lost connectivity to the internet during the upload. Restart your browser and/or your computer and then try to upload the file again. If you continue to have connectivity problems, contact your Internet Service Provider to find out if they're experiencing any problems in your area.<br><br>

Q: Can I access a file removed from my account?<br>
A: No! Files deleted or self destructing files cannot be accessed or returned.<br><br>

Q: Can I use CowCloud to backup my files?<br>
A: CowCloud is NOT a file backup service. As such, we do not maintain backups of files that are transferred through the site. All deleted or self destructing files are removed promptly and a hardware failure could result in the loss or damage to some files.
As such, it would not be wise to use CowCloud for backup purposes.<br><br>

Q: How can I contact CowCloud regarding advertising inquiries, suggestions or site issues?<br>
A: You can contact CowCloud via email at <a href="mailto:admin@cowcloud.com">admin@cowcloud.com</a>. Please use an appropriate "Subject" field so we can properly route your message.<br><br>

Q: How reliable is CowCloud?<br>
A: CowCloud is built with the latest web technologies and hosted on dedicated Linux servers with redundant drives for maximum uptime and fast streaming.<br><br>

Terms &amp; Conditions<br>
<a href="/terms/">www.cowcloud.com/terms</a>

</div>
{% include "footer.html" %}
