{% load i18n %}

<div class="navbar main">
	<div class="navbar-inner">
		<div class="nav-collapse">
			<ul class="nav">
				<li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/upload/new"><i class="icon-upload icon-white"></i> Upload File</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/plans"><i class="icon-list icon-white"></i> Plans</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/faq"><i class="icon-question-sign icon-white"></i> FAQs</a></li>
				<li class="divider-vertical"></li>
				<li><a href="/contact"><i class="icon-user icon-white"></i> Contact</a></li>
			</ul>
		
		<div class="get_evernote">
			<a href="/" title="CowCloud" id="downloadLink">
				<span class="message">
					<span id="en_icon" lang="en">Get CowCloud, it&#8217;s free</span>
					<span class="follow" lang="">&#9658;</span>
				</span>
			</a>
		</div>
		
		</div><!--/.nav-collapse -->
	</div><!--/.navbar-inner -->
</div><!--/.navbar main -->
