{% include "base.html" %}
{% include "header.html" %}

{% block content %}
<div class="container-fluid">
	<div class="container">
		<div id="mast">
			<div class="row">
				<div class="span4">
					<a href="/" title="CowCloud"><img alt="CowCloud" src="{{ MEDIA_URL }}img/cowcloud-logo.jpeg" width="140px" height="140px"></a>
				</div>
				
				<div class="span8 pitch">
					<p class="row">
						<!--<span class="logo"><b>CowCloud</b></span><span class="tagline"><b>file delivery &amp; cloud storage</b></span> -->
						<span class="pull-left"><b>CowCloud is a file sharing service that lets you send your photos, docs, and videos anywhere and share them easily. <br />Never email yourself a file again!</b></span>
						<!--<a href="/accounts/register/" class="btn orange pull-right">Sign Up</a> -->
						<!--<a href="/accounts/register/" class="btn orange pull-right" data-toggle="modal" data-target="#signup-modal">Sign Up</a>-->
					</p>
				<!--<div class="modal fade" id="signup-modal" style="display: none;">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>Sign up to join CowCloud</h3>
					</div>
				</div>-->
				</p>
					<h2>Under Construction</h2>

				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% include "footer.html" %}
