{% include "base.html" %}
<div class="container">
{% block pagetitle %}
<h2>File List</h2>
{% endblock %}

{% block content %}

{% if files %}



    <table border="1">
    <tr>
       <td style="padding: 10px;"><h2>Direct Link</h2></td>
       <td style="padding: 10px;"><h2>info</h2></td>
       <td style="padding: 10px;"><h2>Upload</h2></td>
       <td style="padding: 10px;"><h2>Expire</h2></td>
       <td style="padding: 10px;"><h2>MD5</h2></td>
       <td style="padding: 10px;"><h2>Delete</h2></td>
    </tr>

 	{% for file in files %}
       <tr>
	   <td><a href="{{ STORAGE_URL }}/{{ file.secret }}/{{ file.name }}">{{ file.name }}</a></td>
	   <td><a href="/files/download/{{ file.id }}/{{ file.secret }}/">download</a></td>
       <td>{{ file.upload_date }}</td>
       <td>{{ file.expire_date }}</td>
       <td>{{ file.md5 }}</td>
	   <td><a href="/files/delete/{{ file.id }}/">delete</a></td>
	   </tr>
	{% endfor %}
	</table>
{% else %}
	No Files
{% endif %}


{% endblock %}


<tr><td>File name</td><td>{{ file.name }}</td></tr>
<tr><td>Upload date</td><td>{{ file.upload_date }}</td></tr>
<tr><td>Expire date</td><td>{{ file.expire_date }}</td></tr>
<tr><td>Message</td><td>{{ file.message }}</td></tr>
<tr><td>MD5</td><td>{{ file.md5 }}</td></tr>
</div>
{% include "footer.html" %}
