{% include "base.html" %}
{% include "header.html" %}

{% block content %}
<div class="container-fluid">
	<div class="container">
		<div id="mast">
			<div class="row">
				
				<div class="span8 pitch">
					<p class="row">
						<!--<span class="logo"><b>CowCloud</b></span><span class="tagline"><b>file delivery &amp; cloud storage</b></span> -->
						<h2 style="margin-left: 350px;">Site is Under Construction</h2>
						<!--<a href="/accounts/register/" class="btn orange pull-right">Sign Up</a> -->
						<!--<a href="/accounts/register/" class="btn orange pull-right" data-toggle="modal" data-target="#signup-modal">Sign Up</a>-->
					</p>
				<!--<div class="modal fade" id="signup-modal" style="display: none;">
					<div class="modal-header">
						<a class="close" data-dismiss="modal">×</a>
						<h3>Sign up to join CowCloud</h3>
					</div>
				</div>-->
				</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}

{% include "footer.html" %}
