Django==1.4.3
Markdown==2.2.1
PIL==1.1.7
South==0.7.6
anafero==1.0
argparse==1.2.1
decorator==3.4.0
distribute==0.6.35
dj-database-url==0.2.1
django-annoying==0.7.7
django-appconf==0.5
django-contact-form==0.3.1
django-debug-toolbar==0.9.4
django-faq==0.8.3
django-mailer==0.1.0
django-openid-auth==0.4
django-pure-pagination==0.2.1
django-registration==0.8
django-webmaster-verification==0.2.1
gunicorn==17.5
httplib2==0.7.7
postmarkup==1.2.0
psycopg2==2.4.6
pybbm==0.12.4
pytils==0.2.3
sorl-thumbnail==11.12
wsgiref==0.1.2
