{% extends "registration/registration_base.html" %}
<div class="container">
{% block title %}Register for an account{% endblock %}
{% block content %}
  {% include 'registration/form_errors.html' %}
  <form method='post' class="well" action=''>{% csrf_token %}
    {% include 'registration/form_fields.html' %}

    <input type="submit" class="btn orange" value="Send activation email" />
  </form>
</div>
<div class="centerer">
    <div class="entry" style="height: 107px;">
        <img src="{{ MEDIA_URL }}/img/email_2.png" alt="Sending Large Files Over Email " />
        <span class="entry-title">Simple Affordable Plans</span>
        <div class="text">You’re in luck! All new CowCloud accounts START with 2GB of free storage!<br />
        CowCloud offers three simple plans without all the confusing 'extras' you don't need! One free service & two affordable paying plans offering larger file capabilities & storage.<br /><br />
        Need more spaces? CCProfessional and CCBusiness accounts get up to 100 GB! <a href="/plans/">Learn More</a></div>
  </div>
    <div class="entry">
        <img src="{{ MEDIA_URL }}/img/lock_2.png" alt="Transferring Large Files Over Email " />
        <span class="entry-title">Safety Storage</span>
        <div class="text">CowCloud files are secured with AES 256 bit encrypted and your connection to our server is encrypted with an RSA 2048 bit key and Secure Sockets Layer.<br /><br />
        Your files are always safe and sound on CowCloud!</div>
  </div>
    <div class="entry" style="background: none;">
        <img src="{{ MEDIA_URL }}/img/dollar_2.png" alt="Big File Sending and Transferring plans" />
        <span class="entry-title">Access Anywhere</span>
        <div class="text">From home to work or North Pole to South Pole - securely access your files ANYWHERE your travels take you!<br />
        Upload and share files right from your desktop or mobile device with CCMobile (*coming soon)!<br /><br />
        Store, access & send files anywhere, anytime!</div>
  </div>
</div>

<div class="footer">
<p><a href="/terms/">Terms</a> | &copy; 2012 CowCloud. All Rights Reserved.</p>
</div>
<div class="clear"></div>

{% endblock %}
