.contact {
	z-index: 10;
	-moz-box-shadow: 0 10px 0 0 #333, 0 10px 0 0 #333;
	-webkit-box-shadow: 0 10px 0 0 #333, 0 10px 0 0 #333;
	box-shadow: 0 10px 0 0 #333, 0 10px 0 0 #333;
}
.contact section.container-fluid {
	background:#585957 url("../img/bg-footer.jpg") repeat 0 0;
    width: auto;
    margin: 20px auto 0 auto;
    box-shadow: 0px 8px 8px -6px rgba(0, 0, 0, 0.6) inset;
    padding: 10px 0 40px 70px;
    color: #d2d2d2;
    height: 240px;
    font-family: 'Ubuntu',sans-serif;
}

.contact section.container-fluid .entry {
	width: 330px;
	margin: 0 20px;
	display: inline-block;
	vertical-align: text-top;
	/*background: url(img/bottom_sep_bg.png) top right repeat-y;*/
	padding: 10px 20px 10px 10px;
}

.contact section.container-fluid .entry img {
	vertical-align: text-bottom;
	position: relative;
	top: 5px;
	left: 0px;
}

.contact section.container-fluid .entry-title {
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 20px 2px;
	display: inline-block;
}

.contact section.container-fluid .entry .text {
	text-align: justify;
}

.contact section.container-fluid .row-fluid .span4 #get {
	margin-left: 70px;
}
.footer {
    box-shadow:0 0 0 #dc5526,inset 0 0.5px 0 0 #dc5526;
    padding-top: 20px;
/*    bottom: 0;
    position: absolute;*/
    width: 100%;
    height: 50px;
/*    background-color: #2d2d2d;*/
    background-color: #272C30;
/*    background: url("../img/footer.png") repeat;*/
    color: #d2d2d2;
}

.footer p {
  margin: 5px 10px;
  text-align: left;
  line-height: 10px;
}
