body, p, input, button, select, textarea {
  font-family: 'Ubuntu', sans-serif;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.btn {
  border: 1px solid #dedede;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.btn.blue {
  background: #2d2d2d;
}
.btn.orange {
  background: #dc5526;
}

#faqs .questions {
  padding: 0 100px 0 40px;
}
#faqs .questions .question {
  margin-bottom: 30px;
}
#faqs .questions h4 {
  color: #dc5526;
  margin: 10px 0;
}
#faqs .questions p,
#faqs .questions li {
  font-size: 15px;
  line-height: 24px;
}

.orange-text {
  color: #dc5526;
}
#subnav {
  border-bottom: 1px solid #2d2d2d;
}
#subnav  > li > a {
  color: #404040;
}
#subnav  > .active > a {
  font-weight: bold;
  color: #dc5526;
  border-color: #2d2d2d #2d2d2d transparent;
}
.popover-inner {
  background: #2d2d2d;
}
.popover.top .arrow {
  border-top: 5px solid #2d2d2d;
}
.popover.right .arrow {
  border-right: 5px solid #2d2d2d;
}
.popover.bottom .arrow {
  border-bottom: 5px solid #2d2d2d;
}
.popover.left .arrow {
  border-left: 5px solid #2d2d2d;
}
.alert-success {
  color: white;
  background-color: #dc5526;
  border-color: #ffffaa;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#map-org-filter {
  position: absolute;
  right: 85px;
  bottom: 7px;
}
#map-org-filter {
  position: absolute;
  right: 85px;
  bottom: 7px;
}
.marker-content .content {
  padding: 5px 0;
  width: 300px;
}
.marker-content .content img {
  float: left;
  margin: 0 10px 5px 0;
}
#signup-modal .form-actions {
  margin-bottom: 0;
  background: none;
}
#context-primary-actions .nav {
  border-bottom: 1px solid #2d2d2d;
}
#context-primary-actions .nav  > li > a {
  color: #404040;
}
#context-primary-actions .nav  > .active > a {
  font-weight: bold;
  color: #dc5526;
  border-color: #2d2d2d #2d2d2d transparent;
}
#context-secondary-actions .nav-tabs > .active > a,
#context-secondary-actions .nav-tabs > .active > a:hover {
  border: none;
}
#data-view {
  overflow: auto;
}
#survey-selection-form .control-group {
  display: inline-block;
}

form#form-project .controls ul {
  list-style: none;
  width: 60%;
}
form#form-project .controls ul li {
  display: inline-block;
  width: 30%;
}
.cell-survey-name {
  max-width: 200px;
}
.olwidget-map label {
  color: white;
}
.olwidget-map input {
  float: left;
  margin-right: 8px;
}
#projects-table .col-actions a {
  display: block;
}
.map-marker-table-wrap {
  max-height: 200px;
  overflow-y: scroll;
}
.map-marker-table {
  font-size: 11px;
}
#data-view {
  position: relative;
}
#data-view #locations-count {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  border-radius: 0 0 10px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  left: 60px;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 99;
}
#data-view #data-legend {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  font-size: 10px;
  margin: 0;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  width: 20%;
  z-index: 1;
}
#data-view .olControlLayerSwitcher .layersDiv {
  background-color: #2d2d2d;
  border-radius: 10px 0 0 10px;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
}
#data-view .olwidget-map label {
  color: black;
}
#data-view .olControlLayerSwitcher {
  color: black;
}

.date{
  text-align: right;
}

a, a:hover{
  color: #dc5526;
}

.nav-pills .active > a,
.nav-pills .active > a:hover,
.blog .entry .nav .active > a,
.blog .entry .nav .active > a:hover {
  background-color: #2d2d2d;
  color: white;
}

.blog .entry .nav a:link,
.blog .entry .nav a:visited {
  color: #2d2d2d;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.nav-tabs > li > a, .nav-pills > li > a {
  color: #2d2d2d;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.span7 p
{
  font-size: 14px;
  line-height: 28px;
  font-family: 'Ubuntu',sans-serif;
  margin: 20px 0 9px 0;
}
.span7 li
{
  font-size: 14px;
  line-height: 28px;
}

.sidebar h3 {
 line-height:27px;
  margin-bottom: 10px;
}

.sidebar a{
  font-size: 16px;
  color: #dc5526;
  line-height:18px;
}

.entry-cat a{
  color: #dc5526;
}

#id_comment{
  width: 480px;
}

#mast {
/*    background-color: #fff;*/
    background-color: #ECF6FF;
/*    background: #ECF6FF url("../img/bg-sky.gif") 0 0 repeat-x;
    background: #ECF6FF
        url("../img/cloud1.png") top right no-repeat,
        url("../img/cloud2.png") 50% 50% no-repeat,
        url("../img/cloud3.png") bottom left no-repeat;
    box-shadow: 0 8px 8px -6px rgba(0, 0, 0, 0.6) inset;*/
    color: #D2D2D2;
    margin: 50px auto 0 auto;
    padding: 10px 0 40px 70px;
    width: auto;
    height: auto;
}

#plans{
    margin:18px auto 0 auto;
    padding: 10px auto 40px auto;
    border-bottom:1px solid #eeeeee;
    background-color: #4F8DBD;
/*    background: #FFF url("../img/slider-map.png") repeat;*/
    width: auto;
    height: auto;
}

#plans h1{line-height:1;}


#plans h2{
    color: #ddd;
}

.plan-list{margin:0 0 30px -20px;padding:0;list-style:none;}
.plan-list .plan{float:left;width:220px;height:auto;margin:0 0 0 20px;text-align:left;}
.plan-list .plan.selected .plan-head{background:#4f545b;}
.plan-list .plan .plan-head{padding:10px 10px 15px;color:#ddd;background:#4f545b;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;}
.plan-list .plan .plan-head h3{color:#ddd;text-align:center;line-height:30px;}
.plan-list .plan .plan-head hr{bottom:-18px;left:20px;right:20px;border:0;border-top:1px solid #ddd;z-index:100;}
.plan-list .plan .plan-head .price{text-align:center;font-size:32px;line-height:40px;display:block;font-weight:300;color:#fff;}
.plan-list .plan .plan-head .price small{font-size:12px;line-height:18px;display:block;}
.plan-list .plan .plan-head .price .v{font-size:32px;height:80px;}
.plan-list .plan .plan-signup a{background:#DC5526;color:#fff;display:block;box-shadow:none;-moz-box-shadow:none;border:none;line-height:1;padding:12px;margin-top:25px;font-size:16px;text-shadow:none;}
.plan-list .plan .plan-signup a:hover{background:#DC5526;color:#fff;}
.plan-list .plan .plan-features{height:198px;margin-top:0;padding:15px 10px 25px 10px;background:#ECEEF1;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;color:#333;}
.plan-list .plan .plan-features ul{list-style:none;margin:0;padding:0;}
.plan-list .plan .plan-features ul li{text-align: center; color:#55606E;font-size:14px;line-height:2;}
.plan-list .plan .plan-features ul li small.rate{display:block;font-size:13px;color:#4f545b;margin-top:-10px;}
.plan-list .plan .plan-features ul li:last-child{border-bottom:0;margin-bottom:0;}
.plan-list .plan .plan-features p{color:#55606E;font-size:16px;line-height:2;font-weight:400;}
.plan-list .plan .plan-signup{margin-top:15px;text-align:center;display:block;}
.plan-list .plan .plan-signup-more a{display:block;box-shadow:none;-moz-box-shadow:none;border:none;line-height:1;padding:12px;margin-top:65px;font-size:16px;text-shadow:none;background:#777f8a;  border: 1px solid #dedede;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.plan-meta{padding:8px 35px 8px 14px;margin-bottom:18px;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);background-color:#fcf8e3;border:1px solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#c09853;padding-top:14px;padding-bottom:14px;border:none;background:#ECEEF1;color:#55606E;font-size:14px;}
.plan-meta p{text-align:center;text-shadow:none;margin:0;}
.plan-meta a{color:#55606E;font-weight:bold;}
.plan-meta ul{margin:0;}.plan-meta ul li{display:inline-block;text-align:center;width:33%;}


.entry {
	width: 330px;
	margin: 0 20px;
	display: inline-block;
	vertical-align: text-top;
	/*background: url(img/bottom_sep_bg.png) top right repeat-y;*/
	padding: 10px 20px 10px 10px;
}

.entry img {
	vertical-align: text-bottom;
	position: relative;
	top: 5px;
	left: 0px;
}

.entry-title {
	font-size: 20px;
	font-weight: bold;
	padding: 0px 0px 20px 2px;
	display: inline-block;
}

.span4 .text {
	text-align: justify;
}

.span8 b{
    color: #dc5526;
    font-size: 24px;
}
.well{min-height:20px;max-width: 350px; padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #eee;border:1px solid rgba(0, 0, 0, 0.05);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);}.well blockquote{border-color:#ddd;border-color:rgba(0, 0, 0, 0.15);}


.row {
    margin-top:35px;
}

#construct {
    font-size: 60px;
    text-align: center;
    margin: 20px 30px;
}

.container-fluid{
/*    background-color: #4F8DBD;
    background-color: #ECF6FF;
    background: #ECF6FF url("../img/bg-sky.gif") 0 0 repeat-x;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 100%;
    padding: 0;
    margin: 0 auto;*/
}

#faqs{
    background: #FFF url("../img/slider-map.png") repeat;
}

